---
layout: blog
root: ../
---

<p>
Weekly blog topics will be assigned, sometimes this will include readings (articles, papers, etc.). Agron 590RD students will be asked to write their opinions and understanding of the topic in a blog format. The topics are assigned below.
</p>

<h2>Topics</h2>

{% assign now = site.time | date: '%s' %}



<ol>
  {% for topic in site.topics %}
  {% assign due = topic.due-date | date: '%B %d, %Y' %}
  {% assign due_unix = topic.due-date | date: '%s' %}
  <li>
  	  <a href="{{ topic.topic }}">{{ topic.short-topic }}</a>
  	  <span>{% if now <= due_unix %} (due {{ due }}) {% endif %}</span>
  </li>	
  {% endfor %}
</ol>